.home {
	min-height: 100%;
	width: 100%;
}

.content {
	text-align: center;
}

.profileImage {
	width: 15%;
	height: 15%;
	border-radius: 20px 50px 20px;
	margin: 2rem;
}

.link {
	text-transform: capitalize;
}
